<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Inchoo_Stripe" schema_version="1.0.0.0" active="true">
        <sequence>
            <module name="Magento_Sales"/>
            <module name="Magento_Payment"/>
        </sequence>
        <depends>
            <module name="Magento_Sales"/>
            <module name="Magento_Payment"/>
        </depends>
    </module>
</config>
