<?xml version="1.0"?>
<!--
/**
* Inchoo_Stripe module dependency
*
* @category    Inchoo
* @package     Inchoo_Stripe
* @author      Ivan Weiler & Stjepan Udovičić
* @copyright   Inchoo (http://inchoo.net)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Inchoo_Stripe" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Sales" />
            <module name="Magento_Payment" />
            <module name="Magento_Directory" />
            <module name="Magento_Config" />
        </sequence>
    </module>
</config>
