<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <virtualType name="Inchoo\Stripe\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="inchoo_stripe" xsi:type="const">Inchoo\Stripe\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <!--item name="inchoo_stripe_instructions_config_provider" xsi:type="object">Inchoo\Stripe\Model\InstructionsConfigProvider</item-->
                <!--item name="inchoo_stripe_config_provider" xsi:type="object">Inchoo\Stripe\Model\ConfigProvider</item-->
                <item name="inchoo_stripe_config_provider" xsi:type="object">Inchoo\Stripe\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

</config>
